<div class="home">
    <div class="homeContents">
        <div class="leftContent">
            <p >We Are BitBox</p>
            <h1>Create,  sell  & <br> Collect  Popular <br> NFTs</h1>
            <span>Duis aute inure dolor in reprehenferit in voluptate velit ease <br>
            cillum dolore eu fugiat nulla paritur</span>
            <button>Learn More</button>
        </div>
        <div class="rightContent">
            <img src="./assets/images/home.jpg" alt="">
        </div>
    </div>
    <div class="emptyspace">
        <div class="Container">
            <div class="specContainer">
                
            </div>
            <div class="specContainer">
                
            </div>
            <div class="specContainer">
                
            </div>
        </div>
    </div>
</div>