<div class="nav">
  <h1>BitBox</h1>
  <div class="navContainer">
    <ul id="navigationList">
      <li>Auction</li>
      <li>Explore</li>
      <li>Collection</li>
      <li>Contact</li>
    </ul>
    <div>
      <button id="getStartedButton">
        Get Started
      </button>
    </div>
    <ul id="navIconList">
      <li>
        <div id="navIconRound"><i class="bi bi-search"></i></div>
      </li>
      <li>
        <div id="navIconRound"><i class="bi bi-wallet2"></i></div>
      </li>
      <li>
        <div id="navIconRound"><i class="bi bi-person"></i></div>
      </li>
    </ul>
  </div>
</div>
<app-home></app-home>
